.CustomButton {
  text-align: center;
  height: 49px;
  width: 212px;
  font-size: 14px;
  color: #ffffff;
  background: #01bda7;
  margin: 20px auto;
  border: none;
  border-radius: 36px;
  outline-style: none;
  cursor: pointer;
}
