.Profile {
  .UserInfoMuiPaper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128;
    background: linear-gradient(270deg, #1a78c2 0%, #1a78c2 101.06%);
    padding: 40px;
    margin-top: 31px;
    margin-bottom: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  .MainInfo {
    display: flex;
    align-items: center;

    .ProfileUserIcon {
      width: 80px;
      height: 80px;
      margin-right: 42px;
    }

    .UserName {
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 41px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .CloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    background: none;
    outline-style: none;
    cursor: pointer;
  }
  .CloseIcon {
    margin-bottom: 2px;
  }
}

@media (max-width: 599px) {
  .Profile {
    width: 100%;

    .UserInfoMuiPaper {
      padding: 0 20px;
      margin-top: 15px;
    }

    .MainInfo {
      .ProfileUserIcon {
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }
      .UserName {
        font-size: 20px;
      }
    }
  }
}
