.UserFormMuiPaper {
  background: #ffffff;
  padding: 45px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  .UserForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .MainFormContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: inherit;
      margin-bottom: 46px;

      .TextField {
        height: 57px;
        width: 100%;
        left: 0;
      }

      .FieldItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
      }

      .FieldIcon {
        margin-right: 45px;
      }

      .Divider {
        width: 97px;
        height: 0px;
        border: 1px solid #cae7fe;
        transform: rotate(90deg);
      }
    }

    .SuccessMessage {
      font-size: 14px;
      color: #01bda7;
    }
  }
}

@media (max-width: 1259px) {
  .UserFormMuiPaper {
    .UserForm {
      .MainFormContent {
        .FieldIcon {
          margin-right: 20px;
        }
      }
    }
  }
}

@media (max-width: 959px) {
  .UserFormMuiPaper {
    .UserForm {
      .MainFormContent {
        flex-direction: column;
        .FieldItem {
          width: 80%;
          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
        .FieldIcon {
          margin-right: 40px;
        }
        .Divider {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 789px) {
  .UserFormMuiPaper {
    .UserForm {
      .MainFormContent {
        .FieldItem {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
        .FieldIcon {
          margin-right: 40px;
        }
      }
    }
  }
}
